{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{% if update %}
    {% if is_type == 'NWS' %}
        News/Update
    {% else %}
        Articles/Update
    {% endif %}
{% else %}
    {% if is_type == 'NWS' %}
        News/Add
    {% else %}
        Articles/Add
    {% endif %}
{% endif %}
{% endblock title %}

{% block content %}
    <br/>
    {% if update %}
        <h1 align="center" style="font-family: Georgia;"><strong> Редактирование публикации </strong></h1>
    {% else %}
        <h1 align="center" style="font-family: Georgia;"><strong> Добавление публикации </strong></h1>
    {% endif %}
    <hr>
    <p style="font-size: 1.3em; font-family: Georgia;">
    {% if is_type == 'NWS' %}
        Тип публикации: Новость
    {% else %}
        Тип публикации: Статья
    {% endif %}
    </p>
    <hr>
    <p style="font-size: 1.3em; font-family: Georgia;">
        Заполните необходимые поля:
    </p>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        {% if update %}
            <input type="submit" value="Редактировать публикацию" style="width:250px" >
        {% else %}
            <input type="submit" value="Добавить публикацию" style="width:200px" >
        {% endif %}
    </form>
    <br/><br/>
{% endblock content %}