{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    News#
{% endblock title %}

{% block content %}
<br/>
    <p style="font-size: 1.5em; font-family: Georgia;"><strong>
        {{ post.head | censor}}
    </strong></p>
    <p style="font-size: 0.8em; font-family: Georgia;">
        Дата публикации: {{ post.time_in | date:'d.m.Y H:i' }}
    </p>
    <p style="font-size: 0.8em; font-family: Georgia;">
        Автор: {{ post.author.user.username }}
    </p>
    <p style="font-size: 1.2em; font-family: Georgia;">
        {{ post.text | censor }}
    </p>
    <p style="font-size: 0.8em; font-family: Georgia;">
        Рейтинг: {{ post.rating }}
    </p>
    <br/><br/>
    {% if request.user == post.author.user %}
        <a href="{% url 'post_update' post.id %}" style="color: #6c757d; font-size: 0.8em;">Редактировать</a>&emsp;
        <a href="{% url 'post_delete' post.id %}" style="color: #6c757d; font-size: 0.8em;">Удалить</a>
    {% endif %}
{% endblock content %}