{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    Posts/Search
{% endblock title %}

{% block content %}
    <br/>
    <h1 align="center" style="font-family: Georgia;"><strong> Поиск публикаций </strong></h1>
    <hr>
    {% if all %}
        <p style="font-size: 1.3em; font-family: Georgia;">
            Критерии поиска:
        </p>
        <form method="GET">
            {{ filter.form }}
            <input type="submit" value="Найти" style="width:100px" >
        </form>
        <p style="font-size: 1em; font-family: Georgia;">
            <br/>
            Найдено публикаций: {{ filter.qs | length }}
        </p>
        <br/>
        <p style="font-size: 0.8em; font-family: Georgia;">
            Показана страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </p>
        <br/>
        {% if postss %}
            <table style="width: 100%; font-family: Georgia;">
                <tr>
                    <th style="border-bottom: 3px solid #B9B29F; width:40%;padding-bottom: 10px;"> Заголовок </th>
                    <th style="border-bottom: 3px solid #B9B29F; width:15%;padding-bottom: 10px;"> Тип<br/>публикации </th>
                    <th style="border-bottom: 3px solid #B9B29F; width:15%;padding-bottom: 10px;"> Дата<br/>публикации </th>
                    <th style="border-bottom: 3px solid #B9B29F; width:45%;padding-bottom: 10px;"> Содержание </th>
                </tr>
                {% for post in postss %}
                    <tr>
                        <td style="padding-top: 10px; padding-bottom: 15px">
                            <a href="{% url 'post_detail' post.id %}" style="text-decoration: none"> {{ post.head | censor}} </a>
                        </td>
                        <td style="padding-top: 10px; padding-bottom: 15px"> {{ post.get_type_display }} </td>
                        <td style="padding-top: 10px; padding-bottom: 15px"> {{ post.time_in | date:'d.m.Y' }} </td>
                        <td style="padding-top: 10px; padding-bottom: 15px"> {{ post.text | censor | truncatechars:70 }} </td>
                    </tr>
                {% endfor %}
            </table>

            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace page=page_obj.previous_page_number %}"><</a>
                    <a href="?{% url_replace page=1 %}">1</a>
                    {% if page_obj.number == 3 %}
                        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                    {% endif %}
                    {% if page_obj.number > 3 %}
                        {% if page_obj.number > 4 %}
                            ...
                        {% endif %}
                        <a href="?{% url_replace page=page_obj.previous_page_number|add:'-1' %}">{{ page_obj.previous_page_number|add:'-1' }}</a>
                        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                    {% endif %}
                {% endif %}

                {{ page_obj.number }}

                {% if page_obj.has_next %}
                    {% if page_obj.number|add:'2' < page_obj.paginator.num_pages %}
                        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                        <a href="?{% url_replace page=page_obj.next_page_number|add:'1' %}">{{ page_obj.next_page_number|add:'1' }}</a>
                        {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
                            ...
                        {% endif %}
                    {% endif %}
                    {% if page_obj.number|add:'2' == page_obj.paginator.num_pages %}
                        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                    {% endif %}
                    <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                    <a href="?{% url_replace page=page_obj.next_page_number %}">></a>
                {% endif %}
            {% endif %}
        {% else %}
            <p style="font-size: 1em; font-family: Georgia;">
            <br/>
                По указанным параметрам публикаций не найдено!
            </p>
        {% endif %}
    {% else %}
        <h2 style="font-family: Georgia;"> Публикаций нет!</h2>
    {% endif %}
    <br/><br/>
{% endblock content %}