{% extends "flatpages/default.html" %}

{% block title %}
    My profile
{% endblock title %}

{% block content %}
<br/>
<h2 align="center" style="font-family: Georgia;"><strong>Страница авторизованного пользователя {{request.user.username}}</strong></h2>
Здесь может содержаться персональная информация для каждого пользователя
<br/><br/>
    <a href="/profile/subs" style="text-decoration: none; font-family: Georgia;">Мои подписки</a>&emsp;
    {% if is_author %} <a href="/profile/posts" style="text-decoration: none; font-family: Georgia;">Мои публикации</a>{% endif %}
<br/><br/>
{% endblock %}
